<h1>Users#my_portfolio</h1>
<div class="search-area">
  <h3>Search Stocks</h3>
  <%= form_tag search_stock_path, method: :get, remote: true do %>
    <div class="row mb-3">
      <div class="col-sm-9 no-right-padding">
        <%= text_field_tag :stock, params[:stock], placeholder: "Stock ticker symbol", autofocus: true, class: "form-control form-control-lg" %>
      </div>
      <div class="col-3 no-left-padding">
        <%= button_tag type: :submit, class: "btn btn-success" do %>
          <i class="fa-solid fa-magnifying-glass fa-2x"></i>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @stock %>
    <div class="card card-header results-block">
      <strong>Symbol: </strong> <%= @stock.ticker %>
      <strong>Name: </strong> <%= @stock.name %>
      <strong>Price: </strong> <%= @stock.last_price %>
    </div>
  <% end %>
</div>